<h2 class="text-3xl text-slate-800 gap-3 text-center mt-5 font-semibold mb-3">
  Productos
</h2>

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 my-10 gap-3 md:gap-4 max-w-4xl mx-auto"
>
@defer(on timer(5000)) {
    @for (product of productResponse.products; track $index) {
        <app-products-card [product]="product">
        </app-products-card>
    }
}@loading {

}
@placeholder {
    @for (item of productResponse.products; track $index) {
        <app-placeholder></app-placeholder>
    } 
}
@error {

}


</div>
<div class="w-full">
    <mat-paginator
        [length]="productResponse.pagination.totalResults"
        [pageSize]="16"
        [pageSizeOptions]="[16,32,64]"
        (page)="onPageChange($event)"
    ></mat-paginator>
</div>
